{% extends 'registration/login-base.html' %}
{% block content %}

<canvas id="nokey" width="800" height="800">
    Your Browser Don't Support Canvas, Please Download Chrome ^_^``
</canvas>

<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
<div class="login-form-heading">
   <h2><span>Lights-Out</span> Patching</h2> 
</div>
      <section class="login-form">
       <form method="post" role="login" >
          {% csrf_token %}

               <label for="id_username">Username:</label> 
               <input type="text " class="form-control input-lg" name="username" autofocus required id="id_username" maxlength="254" />

               <label for="id_password">Password:</label> 
               <input type="password" class="form-control input-lg" name="password" required id="id_password" />
          <div class="pwstrength_viewport_progress"></div>
          
          
          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
        </form>
          <div>
            <a href="/signup">Create account</a> or <a href="#">reset password</a>
          </div>
          
        
        <div class="form-links">
          <a href="https://github.com/cmtruit/lop">project hosted on GitHub</a>
        </div>
      </section>  
      </div>
      
      <div class="col-md-4"></div>
      

  </div>
  
    
  
  
</div>

{% endblock %}
