{% extends 'registration/login-base.html' %}

{% block content %}
<canvas id="nokey" width="800" height="800">
    Your Browser Don't Support Canvas, Please Download Chrome ^_^``
</canvas>

<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
<div class="login-form-heading">
   <h2><span>Lights-Out</span> Patching</h2>
</div>
  <section class="login-form">
        <div class="resetbox" >
            <div class="panel-body">
            Your password has been set. You may go ahead and <a href="/">sign in</a> now.
          </div>



</section>
        <div class="form-links">
          <a href="https://github.com/cmtruit/lop">project hosted on GitHub</a>
        </div>
      </div>

      <div class="col-md-4"></div>


  </div>




</div>

{% endblock %}
