{% extends 'registration/login-base.html' %}

{% block content %}
<canvas id="nokey" width="800" height="800">
    Your Browser Don't Support Canvas, Please Download Chrome ^_^``
</canvas>

<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
<div class="login-form-heading">
   <h2><span>Lights-Out</span> Patching</h2>
</div>
  <section class="login-form">
        <div class="resetbox" >
            <div class="panel-body">


              <p>
                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.
              </p>
              <p>
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
              </p>
              <div class="panel-body">
               Return to <a href="/">Login</a>
            </div>

          </div>



</section>
        <div class="form-links">
          <a href="https://github.com/cmtruit/lop">project hosted on GitHub</a>
        </div>
      </div>

      <div class="col-md-4"></div>


  </div>




</div>




{% endblock %}
